<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Rodentia - @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/bundles/auth.min.css" asp-append-version="true" />
</head>
<body class="auth-body">
    <div class="auth-wrapper">
        <div class="auth-nav">
            <a href="/Account/Login" class="@(ViewData["Title"]?.ToString() == "Вхід" ? "active" : "")">Вхід</a>
            <a href="/Account/Register" class="@(ViewData["Title"]?.ToString() == "Реєстрація" ? "active" : "")">Реєстрація</a>
        </div>

        <div class="auth-card">
            <div class="auth-title">Rodentia</div>
            <div class="auth-sub-text">Увійти в акаунт</div>
            
            @RenderBody()
        </div>
    </div>
    <script src="~/bundles/auth.min.js" asp-append-version="true"></script>
</body>
</html>